In [25]:
import pandas as pd
df = pd.read_csv("vgsales.csv")
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [26]:
#question 1
df.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [27]:
#what assumptions can we make about these missing values?

In [28]:
#mean , median , quantile of first numerical value RANK
df['Rank'].mean()

8300.605253645017

In [29]:
df['Rank'].median()

8300.5

In [30]:
df.Rank.quantile([0.25,0.50,0.75])

0.25     4151.25
0.50     8300.50
0.75    12449.75
Name: Rank, dtype: float64

In [31]:
#mean , median , quantile of second numerical value RANK
df['Year'].mean()

2006.4064433147546

In [32]:
df['Year'].median()

2007.0

In [33]:
df.Year.quantile([0.25,0.50,0.75])

0.25    2003.0
0.50    2007.0
0.75    2010.0
Name: Year, dtype: float64

In [34]:
#mean , median , quantile of THird numerical value NA_sales
df['NA_Sales'].mean()

0.26466742981084057

In [35]:
df['NA_Sales'].median()

0.08

In [36]:
df.NA_Sales.quantile([0.25,0.50,0.75])

0.25    0.00
0.50    0.08
0.75    0.24
Name: NA_Sales, dtype: float64

In [37]:
#mean , median , quantile of fourth numerical value EU_sales
df['EU_Sales'].mean()

0.1466520062658483

In [38]:
df['EU_Sales'].median()

0.02

In [39]:
df.EU_Sales.quantile([0.25,0.50,0.75])

0.25    0.00
0.50    0.02
0.75    0.11
Name: EU_Sales, dtype: float64

In [40]:
#mean , median , quantile of fifth numerical value Other_sales
df['Other_Sales'].mean()

0.048063019640913515

In [41]:
df['Other_Sales'].median()

0.01

In [42]:
df.Other_Sales.quantile([0.25,0.50,0.75])

0.25    0.00
0.50    0.01
0.75    0.04
Name: Other_Sales, dtype: float64

In [43]:
#mean , median , quantile of sixth numerical value Global_sales
df['Global_Sales'].mean()

0.53744065550074

In [44]:
df['Global_Sales'].median()

0.17

In [45]:
df.Global_Sales.quantile([0.25,0.50,0.75])

0.25    0.06
0.50    0.17
0.75    0.47
Name: Global_Sales, dtype: float64

In [46]:
#Spot the possible outliers in your dataset and get rid of them 
#USING THE Z-SCORE
df["Year_zscore"]=(df.Year-df.Year.mean())/df.Year.std()
#df=df[df['Year_zscore']>2.5]

In [47]:
print(df)

        Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales  Year_zscore
0             8.46         82.74    -0.069728
1             0.77         40.24    -3.672416
2             3.31         35.82     0.273385
3             2.96         33.00     0.444942
4             1.00         31.37    -1.785294
...            ...           ...          ...
16593         0.00          0.01    -0.755954
16594         0.00          0.01    -0.584398
16595         0.00          0.01     0.273385
16596         0.00          0.01     0.616498
16597         0.00          0.01    -0.584398

[16598 rows x 12 columns]