In [1]:
import pandas as pd
df = pd.read_csv("vgsales.csv")
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [2]:
#question 1
df.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [3]:
#what assumptions can we make about these missing values?

In [4]:
#mean , median , quantile of first numerical value RANK
df['Rank'].mean()

8300.605253645017

In [5]:
df['Rank'].median()

8300.5

In [6]:
df.Rank.quantile([0.25,0.50,0.75])

0.25     4151.25
0.50     8300.50
0.75    12449.75
Name: Rank, dtype: float64

In [7]:
#mean , median , quantile of second numerical value RANK
df['Year'].mean()

2006.4064433147546

In [8]:
df['Year'].median()

2007.0

In [9]:
df.Year.quantile([0.25,0.50,0.75])

0.25    2003.0
0.50    2007.0
0.75    2010.0
Name: Year, dtype: float64

In [10]:
#mean , median , quantile of THird numerical value NA_sales
df['NA_Sales'].mean()

0.26466742981084057

In [11]:
df['NA_Sales'].median()

0.08

In [12]:
df.NA_Sales.quantile([0.25,0.50,0.75])

0.25    0.00
0.50    0.08
0.75    0.24
Name: NA_Sales, dtype: float64

In [13]:
#mean , median , quantile of fourth numerical value EU_sales
df['EU_Sales'].mean()

0.1466520062658483

In [14]:
df['EU_Sales'].median()

0.02

In [15]:
df.EU_Sales.quantile([0.25,0.50,0.75])

0.25    0.00
0.50    0.02
0.75    0.11
Name: EU_Sales, dtype: float64

In [16]:
#mean , median , quantile of fifth numerical value Other_sales
df['Other_Sales'].mean()

0.048063019640913515

In [17]:
df['Other_Sales'].median()

0.01

In [18]:
df.Other_Sales.quantile([0.25,0.50,0.75])

0.25    0.00
0.50    0.01
0.75    0.04
Name: Other_Sales, dtype: float64

In [19]:
#mean , median , quantile of sixth numerical value Global_sales
df['Global_Sales'].mean()

0.53744065550074

In [20]:
df['Global_Sales'].median()

0.17

In [21]:
df.Global_Sales.quantile([0.25,0.50,0.75])

0.25    0.06
0.50    0.17
0.75    0.47
Name: Global_Sales, dtype: float64

In [22]:
#deal with the missing values in Year

In [34]:
#deal with the missing values in publisher
df.dropna(inplace=True)

In [24]:
#spot the outliers 
df['NA_Sales_zscore']=(df.NA_Sales-df.NA_Sales.mean())/df.NA_Sales.std()
df=df[df['NA_Sales_zscore']>3]

In [25]:
#spot the outliers 
df['EU_Sales_zscore']=(df.EU_Sales-df.EU_Sales.mean())/df.EU_Sales.std()
df=df[df['EU_Sales_zscore']>2.5]

In [26]:
print(df)

    Rank               Name Platform    Year       Genre Publisher  NA_Sales  \
0      1         Wii Sports      Wii  2006.0      Sports  Nintendo     41.49
2      3     Mario Kart Wii      Wii  2008.0      Racing  Nintendo     15.85
3      4  Wii Sports Resort      Wii  2009.0      Sports  Nintendo     15.75
10    11         Nintendogs       DS  2005.0  Simulation  Nintendo      9.07

    EU_Sales  JP_Sales  Other_Sales  Global_Sales  NA_Sales_zscore  \
0      29.02      3.77         8.46         82.74        50.478988
2      12.88      3.79         3.31         35.82        19.083698
3      11.01      3.28         2.96         33.00        18.961252
10     11.00      1.93         2.75         24.76        10.781824

    EU_Sales_zscore
0          8.626415
2          3.295934
3          2.678338
10         2.675035

In [27]:
#count number of unique categories
df['Publisher'].value_counts().count()

1

In [28]:
df['Name'].value_counts().count()

4

In [29]:
df['Platform'].value_counts().count()

2

In [30]:
df['Genre'].value_counts().count()

3

In [31]:
#question5 : yes question 2,4,5,6
y1=pd.get_dummies(df.Name,prefix='Name')
y2=pd.get_dummies(df.Platform,prefix='Platform')
y3=pd.get_dummies(df.Genre,prefix='Genre')
print(df)

    Rank               Name Platform    Year       Genre Publisher  NA_Sales  \
0      1         Wii Sports      Wii  2006.0      Sports  Nintendo     41.49
2      3     Mario Kart Wii      Wii  2008.0      Racing  Nintendo     15.85
3      4  Wii Sports Resort      Wii  2009.0      Sports  Nintendo     15.75
10    11         Nintendogs       DS  2005.0  Simulation  Nintendo      9.07

    EU_Sales  JP_Sales  Other_Sales  Global_Sales  NA_Sales_zscore  \
0      29.02      3.77         8.46         82.74        50.478988
2      12.88      3.79         3.31         35.82        19.083698
3      11.01      3.28         2.96         33.00        18.961252
10     11.00      1.93         2.75         24.76        10.781824

    EU_Sales_zscore
0          8.626415
2          3.295934
3          2.678338
10         2.675035

In [32]:
#dealing with tags
df['Name'] = df['Name'].str.split(pat=' ')

# collect all unique tags from those lists
tags = set(df['Name'].explode().values)

# create a new Boolean column for each tag
for tag in tags:
    df[tag] = [tag in df['Name'].loc[i] for i in df.index]
print(df)

    Rank                   Name Platform    Year       Genre Publisher  \
0      1          [Wii, Sports]      Wii  2006.0      Sports  Nintendo
2      3     [Mario, Kart, Wii]      Wii  2008.0      Racing  Nintendo
3      4  [Wii, Sports, Resort]      Wii  2009.0      Sports  Nintendo
10    11           [Nintendogs]       DS  2005.0  Simulation  Nintendo

    NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  NA_Sales_zscore  \
0      41.49     29.02      3.77         8.46         82.74        50.478988
2      15.85     12.88      3.79         3.31         35.82        19.083698
3      15.75     11.01      3.28         2.96         33.00        18.961252
10      9.07     11.00      1.93         2.75         24.76        10.781824

    EU_Sales_zscore    Wii  Sports  Mario  Nintendogs  Resort   Kart
0          8.626415   True    True  False       False   False  False
2          3.295934   True   False   True       False   False   True
3          2.678338   True    True  False       False    True  False
10         2.675035  False   False  False        True   False  False